<!doctype HTML>
<html ng-app="silviaemauro">
    <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href='http://fonts.googleapis.com/css?family=Mr+De+Haviland|Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alex+Brush|Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="bower_components/flipclock/compiled/flipclock.css">-->
    <link rel="stylesheet" href="style.css">



        
    </head>
    <body ng-controller="MainCtrl">
        <div class="container-fluid text-center contain">
        <div class="menu amatic">
            marco<span class="crimson">e</span>bianca - <a href="#listanozze">lista nozze</a> - <a href="#qualchefoto">qualche foto</a> 
        </div>
        <div class="biglietto">
        


        <div class="cursive nomi text-center">
            <div class="text-center">Marco <span class="crimson">&amp;</span> Bianca</div>
        </div>
        <br>

        <p class="amatic corpo maintext">
            <b>26 Settembre 2015 alle ore 11.30</b><br><br>  
            <b>Cattedrale San Nicola</b><br>
            Piazza Duomo, Sassari 
            <a href="https://www.google.it/maps/place/Cattedrale+di+San+Nicola/@40.726802,8.558104,17z/data=!3m1!4b1!4m2!3m1!1s0x12dc63e3874d40db:0xa2960521c7fa6f42?hl=it" target="_blank"><i class="fa fa-map-marker"></i></a>
            <br>  
        </p>
         <br><br>
        <p class="amatic corpo maintext">
            Ricevimento presso <b>Villarita</b><br>  
            Via Millelire 6<br>
            Loc. Li Punti, Sassari
            <a target="_blank" href="https://www.google.it/maps/place/Via+Domenico+Millelire,+6,+07100+Li+Punti+SS/@40.7518218,8.5183101,314m/data=!3m1!1e3!4m2!3m1!1s0x12dc624f5d16d241:0x7a93d28e696f271d!6m1!1e1?hl=it"><i class="fa fa-map-marker"></i></a>
        </p>
        

        </div>
        </div>

        <br>
        <br>

<!--
        <div class="container text-center amatic" id="comearrivare">
            <h1 class="text-center subtitle"><i class="fa crimson fa-compass"></i> Come arrivare</h1>
            <p class="maintext">
                
            </p>
            

<iframe src="https://maps.google.it/maps?q=via+luigi+bersini+39+rovato&amp;hl=it&amp;ll=45.532658,9.990821&amp;spn=0.018789,0.045447&amp;sll=45.530493,9.989319&amp;sspn=0.009395,0.022724&amp;hnear=Via+Don+Luigi+Bersini,+39,+25038+Rovato+Brescia,+Lombardia&amp;t=m&amp;z=15&amp;output=embed" height="320" width="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>

        <hr>
-->
        <div class="container-fluid text-center amatic" id="listanozze">
            <h1 class="text-center subtitle"><i class="crimson fa fa-gift"></i> Lista nozze</h1>
            <p class="maintext">
                
                Viaggio di nozze: <br><b>CROCIERA MEDITERRANEO ORIENTALE</b><br><br>

                Per eventuali contributi: <br><br> 
                <span stxyle="Font-family:monospace; font-size:1.2em;">
                IBAN: IT20G0306917232100000003815 <br>
                intestato a MARCO DETTORI BIANCA BARABINO
                </span>
                
            </p>
            <br>
            <p class="maintext">
                    Oppure contattare l'AGENZIA ANDALAS TOURS <br>    
                    <a target="_blank" href="http://www.andalastours.net/contatti.html">http://www.andalastours.net/contatti.html</a>
                </p>
            <p class="maintext  text-center">
                <br><br>
                <i class="fa fa-smile-o crimson"></i> ... grazie!
            </p>
            <p class="maintext">
                Bianca &amp; Marco
            </p>
        </div>

        <br>
        <div class="biglietto" style="height:4px;padding:0px!important;"></div>
        <br>

        <div class="container-fluid text-center amatic" id="qualchefoto">
            <h1 class="text-center subtitle"><i class="crimson fa fa-camera"></i> Qualche foto</h1>
            <div id="imagescontainer">
                <img class="item" ng-src="images/thumbs/{{image.name}}" alt="" ng-repeat="image in images">
            </div>
            
        </div>

        <br>
        <div class="biglietto" style="height::;px;padding:0px!important;margin:0px!important;"></div>
        
  
        
        <!--
        <hr>
        <div class="container text-center amatic">
        <h1 class="text-center subtitle">...Mancano solo...</h1>
        <div class="text-center">

            <div class="text-center" style="">
                <div id="countdown" class="clock"></div>
            </div>
        </div>
        </div>
        <hr>

         
 

        
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>  
        <script src="bower_components/flipclock/compiled/flipclock.min.js"></script>
        <script type="text/javascript">

            var now  = moment();
            var then = "03/05/2015 16:00:00";

            var ms =moment(then,"DD/MM/YYYY HH:mm:ss").diff(now);
            var d = moment.duration(ms);
            
            console.log("x", d);


            var clock = $('#countdown').FlipClock(d/1000, {
                countdown : true,
                clockFace: 'DailyCounter',
                showSeconds: false,
                language : 'it'
            });
        </script>
        -->

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <!--<script src="bower_components/jquery.mosaicflow/jquery.mosaicflow.min.js"></script>-->
        <script src="js/app.js"></script>
        
    </body>
</html>