body, html{
        /*background-color: rgb(243,243,243); */
        background-color: white; 
        padding: 0px;
        margin:0px;

    }
    .contain{
        
        padding:0px;
        margin:0px !important;
    }
    .cursive{
        font-family: 'Alex Brush', cursive;
    }

    .amatic{
        font-family: 'Raleway', cursive;
    }

    .biglietto {
        
        padding:40px 0;
        padding-top: 60px;
        background-color:lavender;
        margin:0px;

    }

    .corpo{
        font-size:16pt;
        /*text-shadow: 1px 1px rgba(255,255,255,0.8);*/
    }

    .nomi{
        font-size:48pt;
        /*text-shadow: 1px 1px rgba(255,255,255,0.8);*/
    }

    .menu{
        font-size:22px;
        padding:4px 0px;
        border-bottom: solid #ccc 1px;
    }

    

    .crimson{
        color:hotpink;
    }

    .subtitle{
        margin-bottom:40px;
        font-size:2.2em;
    }

    .clock {
        display: inline-block;
        width: auto;
        font-size:10px;
    }

    .maintext{
        font-size: 18px;
    }
        
    hr {
        border: none;
        border-top: 1px solid #ccc;
        height: 2px;
        margin:40px 40% 20px;
        background: -webkit-radial-gradient(50% 0%, 50% 5px, #222 0%, #ccc 100%);
    }



@-webkit-keyframes beating {
  0%   { font-size: 100%; }
  50%   { font-size: 130%; }
  100% { font-size: 100%; }
}
@-moz-keyframes beating {
  0%   { font-size: 100%; }
  50%   { font-size: 130%; }
  100% { font-size: 100%; }
}
@-o-keyframes beating {
  0%   { font-size: 100%; }
  50%   { font-size: 130%; }
  100% { font-size: 100%; }
}
@keyframes beating {
  0%   { font-size: 100%; }
  50%   { font-size: 130%; }
  100% { font-size: 100%; }
}



.cuore{
        /*color:crimson;*/
        font-size: 96;
        position:relative;
        color:white;
        margin-top:10px;
        /*text-shadow: 1px 1px rgba(255,255,255,0.8);*/
        
    }


.item{
    margin:10px;
    padding:20px;
    background-color: #fff;
    border-radius: 4px;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
    
    .nomi{
        font-size:36pt;
        text-shadow: 1px 1px rgba(255,255,255,0.8);
    }
    .cuore{
        
    }

    .subtitle {
        font-size: 1.8em;
    }

    .menu{
        font-size:18px;
        padding:4px 0px;
        border-bottom: solid #ccc 1px;
    }

 
}